<div>
    <div>
        <header>
            <h1>Welcome to your preferred Portfolio site</h1>
        </header>
        <hr/>
        <div>
            {%block content%}

            {%endblock%}
        </div>
        <footer>
            <h4>Thank you for trusting us</h4>
            <div>
                Contacts
                <li>Phone</li>
                <li>Email: portfolio@porto.com</li>
            </div>
            <div>
                Our services
                <li>Cv writing</li>
                <li>Smart app creation</li>
            </div>
        </footer>
    </div>
</div>