.form {
    width:400px;
    height:fit-content;
    scrollbar-width:1px;
    border-radius: 10px;
    border:solid steelblue 2px;
}

.footer {
    margin-bottom: 0;
}


.small-input :invalid{
    border: red 2px;
}

.small-input :valid{
    border: green 2px;
}

.small-input{
    width:95%;
    margin:10px;
}

.header{
    position:sticky;
    margin-top: 0;
    width:100%;
    border-bottom: blue 2px;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    padding:30px;
}

.center{
    align-self: center;
}