body, html{
    width:100%;
    height:800px;
    background-color: rgb(1, 3, 27);
    color:white;
    font-size:medium;
    overflow-x: hidden;
    overflow-y:visible;
    scrollbar-width: thin;
}

button{
    height:2rem;
    width:fit-content;
    border-radius: 3px;
    font-variant-caps:small-caps ;
    border: 1px white;
    margin:5px;
    cursor: pointer;
    font-size: small;
}

.rowflex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.padding{
    padding: 10px;
}

.fwrdbtn {
    background-color: green;
    color:white;
}

.fwrdbtn:hover{
    background-color: rgb(7, 97, 7);
}

.cancelbtn {
    background-color:rgb(163, 163, 163);
    color:black;
}

.cancelbtn:hover{
    background-color: rgb(87, 86, 86);
}

a{
    text-decoration-line: none;
    font-variant: small-caps;
    min-height: 2.5rem;
    width: fit-content;
    margin:5px;
    cursor: pointer;
    color:white;
}

a:hover{
    color:blue;
}

input{
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 4px;
    border: 1px white;
    font-size: small;
}

input::placeholder{
    color: black;
    font-size: small;
}

.fullwidth {
    width: 65%;
}

textarea{
    padding:10px;
    margin:2px;
    font-size: smaller;
    border-radius: 4px;
    border: 1px white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 4rem;
    resize: none;
    width:55%;
}
textarea::placeholder{
    color:black;
}

select{
    width:58%;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 4px;
    font-size: small;
    margin-top: 5px;
}

.form {
    width:400px;
    height:fit-content;
    scrollbar-width:1px;
    border-radius: 10px;
    border:solid rgb(254, 255, 255) 2px;
}

.footer {
    margin-bottom: 0;
}

input:invalid{
    border: rgb(240, 123, 123) solid 2px;
}

input:valid{
    border: rgb(182, 240, 182) solid 2px;
}

.small-input{
    width:95%;
    margin:10px;
}

.header{
    position:sticky;
    margin-top: 0;
    width:100%;
    border-bottom: blue 2px;
    background-color:white;
    padding-top:10px
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    padding:5px;
}

.center{
    align-self: center;
}

.centerall{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
}

.alert{
    width:fit-content;
    height:fit-content;
    padding:10px;
    background-color: rgb(255, 255, 255);
    color:black;
    border: solid 0.5px;
    border-radius: 6px;
    position:fixed;
    z-index:1;
    right:10px;
    top:10px;
    animation: shake;
    animation-duration: 1s;
    animation-iteration-count: 2;
}
@keyframes shake {
    0% {transform: translateX(0)}
    25% {transform: translateX(2px)}
    50% {transform: translateX(-2px)}
    75% {transform: translateX(2px)}
    100% {transform: translateX(0px)}

}
.alert-content{
    margin-top: 10px;
    position:relative;
    top:5%;
    width:100%;
    text-align: center;
}
.error{
    border-color: red;
    color:red;
}
.success{
    border-color: green;
    color:rgb(5, 59, 5);
}
.xbutton{
    position:absolute;
    top:5px;
    right:10px;
    font-size: x-small;
    cursor: pointer;
}
.search-results-floating {
    width:max-content;
    height: max-content;
    background-color: white;
    z-index: 1;
    margin-left: 2px;
    position: relative;
    color: black;
    border: 2px solid green;
    border-radius: 5px;    
}
.scroll-container{
    max-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: 2px;
}
