.form {
    width:200px;
    height:fit-content;
    scrollbar-width:1px;
    border-radius: 10px;
    border:solid steelblue 2px;
}

.footer {
    margin-bottom: 0;
}

.pad{
    padding:10px;
}

.small-input{
    width:95%;
    scale: 0.75;
}

.small-input :invalid{
    border: red 2px;
}

.small-input :valid{
    border: green 2px;
}

.header{
    position:relative;
    margin-top: 0;
    width:100%;
    border-bottom: blue 2px;
    background-color: blanchedalmond;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}