.all-content{
    height:100%;
    width:100%;
    margin:0;
    padding:10px;
    display:grid;
    grid-template-rows: 1fr 7fr 1fr;
    overflow: hidden;
};

.main-content{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
}